# Configuração pública da CLI VenixCloud
# Não coloque Client Secret, senha ou token neste arquivo.

VENIX_API_BASE_URL=https://api.venixcloud.com/v1
VENIX_AUTH_URL=https://venixcloud.com/en/auth/bridge
VENIX_OAUTH_TOKEN_URL=https://api.venixcloud.com/v1/oauth2/token
VENIX_CLIENT_ID=venix_cac3c2ea21c362d0a7
VENIX_CALLBACK_PORT=53682
VENIX_CONFIG_DIR=$HOME/.config/venix
VENIX_COLOR=1
